.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: pxToPercent(1000, $desktop-width);
  box-sizing: border-box;
  margin: auto;
  margin-bottom: pxToRem(40);
  border: 1px solid $header-bg;
  background-color: $download-bg;

  @include for-phone-landscape-down() {
    width: 90%;
  }
  padding: {
    top: pxToRem(29);
    right: pxToRem(40);
    bottom: pxToRem(30);
    left: pxToRem(31);
  }

  &__text {
    width: pxToPercent(607, 927);
    margin: 0;
    font-size: 1rem;
    font-family: 'Arial MT', Arial, sans-serif;
    line-height: pxToRem(26);
    color: $color-main;
    font-weight: 400;

    @media (max-width: 1080px) {
      width: 50%;
    }

    @include for-tablet-landscape-down() {
      width: 100%;
      margin-bottom: pxToRem(20);
    }

    @include for-phone-only() {
      font-size: pxToRem(20);
    }
  }
}