section.banner
  .banner__slogan-wrapper
    .banner__slogan-inner
      .banner__slogan
        p.banner__slogan-text We design clean, crisp & memorable icons
      .banner__slogan
        p.banner__slogan-text We design clean, crisp & memorable icons
      .banner__slogan
        p.banner__slogan-text We design clean, crisp & memorable icons
      .banner__slogan
        p.banner__slogan-text We design clean, crisp & memorable icons
      .banner__slogan
        p.banner__slogan-text We design clean, crisp & memorable icons
  .banner__toggles
    button.banner__toggle.banner__toggle_active
    button.banner__toggle
    button.banner__toggle
    button.banner__toggle
    button.banner__toggle