// Цвета
$gray--light:         #e1e1e1;
$gray--lighten:       #e3e3e3;
$gray:                #dbdbdb;

$gray--dark:          #afafaf;
$color-button:        #3cc395;
$color-footer:        #3cc3b5;
$color-footer-bottom: #2da89b;
$color-nav-bar:       #4ccfc1;
$color-primary:       #ffffff;