// Цвета
$white:               #fff;
$gray--lighten:       #e8ebf1;
$gray--light:         #e7e7e7;
$gray:                #dfe1e5;
$black: #000;

$color-main: #363636;
$color-main--dark: #0d0707;
$color-main--light: #434343;
$color-main--lighten: #626262;
$color-secondary: #fff;
$color-active: #2aacc8;
$banner-bg: #81e4ed;
$banner-slogan-bg: #e05936;
$download-bg: #e8fcfe;

// Размеры
$desktop-width: 1400;
