// Цвета
$color-text-primary:  #fff;

$fountain-blue:       #4eb7a8;
$fountain-blue--dark: #28a290;
$cinnabar:            #e75735;
$cinnabar--dark:      #bf3e1f;

$gray--light:         #f2f2f2;
$gray:                #e5e5e5;
$gray--dark:          #c0c0c0;
$gray--darken:        #888;

$black:               #000;
$black--light:        #4f4f4f;
$black--lighten:      #777;
