@import 'variables';

@import 'mixins';

@import 'functions';

@import 'common';

@import '../blocks/header/header';

@import '../blocks/logo/logo';

@import '../components/main-nav/main-nav';

@import '../components/burger/burger';

@import '../components/hr/hr';

@import '../blocks/form-text/form-text';

@import '../components/text-field/text-field';

@import '../components/title/title';

@import '../components/textarea/textarea';

@import '../components/button/button';

@import '../blocks/address/address';

@import '../blocks/location/location';

@import '../blocks/footer/footer';

.contacts-content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__left {
    width: pxToPercent(565, 1000);

    @media (max-width: 1098px) {
      margin-bottom: 40px;
    }

    @include for-tablet-landscape-down() {
      width: 100%;
    }
  }

  &__right {
    //margin-left: pxToPercent(74, 1000);
  }
}
