@font-face {
  font-family: 'Arial Bold MT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Arial Bold MT.eot'); /* IE9 Compat Modes */
  src: local('Arial Bold MT'), local('Arial-Bold-MT'),
    url('../fonts/Arial Bold MT.eot?#iefix') format('embeded-opentype'), /* IE6-IE8 */
    url('../fonts/Arial Bold MT.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Arial Bold MT.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Arial Bold MT.svg#Arial Bold MT') format('svg');
}

@font-face {
  font-family: 'Arial MT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Arial MT.eot'); /* IE9 Compat Modes */
  src: local('Arial MT'), local('Arial-MT'),
    url('../fonts/Arial MT.eot?#iefix') format('embeded-opentype'), /* IE6-IE8 */
    url('../fonts/Arial MT.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Arial MT.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Arial MT.svg#Arial MT') format('svg');
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
