.textarea {

  span {
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Arial MT', Arial, sans-serif;
  }

  textarea {
    width: pxToPercent(480, 565);
    height: pxToRem(160);
    font-size: 1rem;
    font-family: 'Arial MT', Arial, sans-serif;
    border: 1px solid $gray--dark;
    box-sizing: border-box;
  }
}
