section.portfolio-works
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide5.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide6.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide7.png", preview: true, mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide8.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide9.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide10.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide11.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide12.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide13.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide14.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide15.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide16.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide1.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide2.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide3.png", mods: "works" })
  .portfolio-works-slide
    +slide({ url: "../components/slide/img/slide4.png", mods: "works" })
