.portfolio-works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: pxToRem(42);
  margin-bottom: 30px;
  border-bottom: 1px solid $gray;

  &-slide {
    margin-bottom: pxToRem(36);
    width: pxToPercent(220, 1000);
  }
}