footer.page-footer
  ul.page-footer__list.page-footer__list_level-1
    li.page-footer__item.page-footer__item_level-1
      h3.page-footer__item-title About us
      p.page-footer__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros. Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie.

    li.page-footer__item.page-footer__item_level-1
      h3.page-footer__item-title Explore
      ul.page-footer__list.page-footer__list_level-2
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__link(href="#") Home
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") About Us
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Services
        li.page-footer-item.footer-item_level-2
          a.page-footer__link(href="#") Portfolio
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Blog

    li.page-footer__item.page-footer__item_level-1
      h3.page-footer__item-title Browse
      ul.page-footer__list.page-footer__list_level-2
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Careers
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Press & Media
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Contact Us
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Term of Service
        li.page-footer-item.page-footer-item_level-2
          a.page-footer__link(href="#") Privacy Policy

    li.page-footer__item.page-footer__item_level-1
      h3.page-footer__item-title Contact Us
      address.page-footer__address
        p.page-footer__address-text <span>BisLite Inc.</span> Always Street 265<br> 0X - 125 - Canada
        p.page-footer__phone
          a(href="tel:+987-6543-210") Phone: 987-6543-210
          a(href="tel:+987-6543-210") Fax: 987-6543-210

    li.page-footer__item.page-footer__item_level-1
      h3.page-footer__item-title Contact with us
      ul.page-footer__list.page-footer__list_level-2.page-footer__list_socials
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="https://www.facebook.com", target="_blank")
            img.page-footer__icon(src="../blocks/footer/img/facebook.png", alt="facebook")
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="https://www.dribbble.com", target="_blank")
            img.page-footer__icon(src="../blocks/footer/img/dribbble.png", alt="dribbble")
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="https://www.pinterest.com", target="_blank")
            img.page-footer__icon(src="../blocks/footer/img/pinterest.png", alt="pinterest")
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="https://www.linkedin.com", target="_blank")
            img.page-footer__icon(src="../blocks/footer/img/linkedin.png", alt="linkedin")
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="https://www.skype.com", target="_blank")
            img.page-footer__icon(src="../blocks/footer/img/skype.png", alt="skype")
        li.page-footer__item.page-footer-item_level-2
          a.page-footer__social-link(href="#")
            img.page-footer__icon(src="../blocks/footer/img/share.png", alt="share")
  .page-footer__bottom
    p.page-footer__copyright
      | © Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com. Client Logos are copyright and trademark of the respective owners companies.
    include ../logo/logo