-
  const mainMenu = [
  {
    name: 'Home',
    url: 'index.html',
    id: '1'
  },
  {
    name: 'About us',
    url: 'portfolio.html',
    id: '2'
  },
  {
    name: 'Services',
    url: 'portfolio.html',
    id: '3',
    children: [
    {
      name: 'Web Design',
      url: 'portfolio.html',
      id: '3-1'
    },
    {
      name: 'Wordpress Design',
      url: 'portfolio.html',
      id: '3-2'
    },
    {
      name: 'Mobile App Development',
      url: 'portfolio.html',
      id: '3-3'
    },
    {
      name: 'Internet Marketing',
      url: 'portfolio.html',
      id: '3-4'
    },
    {
      name: 'Social Media Management',
      url: 'portfolio.html',
      id: '3-5'
    }
    ]
  },
  {
    name: 'Portfolio',
    url: 'portfolio.html',
    id: '4',
    children: [
    {
    name: 'Web Design',
    url: 'portfolio.html',
    id: '4-1'
    },
    {
    name: 'Wordpress Design',
    url: 'portfolio.html',
    id: '4-2'
    },
    {
    name: 'Mobile App Development',
    url: 'portfolio.html',
    id: '4-3'
    },
    {
    name: 'Internet Marketing',
    url: 'portfolio.html',
    id: '4-4'
    },
    {
    name: 'Social Media Management',
    url: 'portfolio.html',
    id: '4-5'
    }
    ]
  },
  {
    name: 'Blog',
    url: 'portfolio.html',
    id: '5'
  },
  {
    name: 'Contact us',
    url: 'contacts.html',
    id: '6'
  }
  ]
