extends ./layout
include includes

append style
  include ../blocks/favicons/favicons

block title
  title Contact us

block content
  body
    .wrapper
      .page-header-wrapper
        +page-header('6')
      main.page-content
        .wrapper__inner
          +title('Contact us', 'email')
          include ../components/hr/hr
          .contacts-content
            .contacts-content__left
              include ../blocks/form-text/form-text
              include ../blocks/contact-form/contact-form
            .contacts-content__right
              include ../blocks/location/location
              +title('Office address', 'simple')
              include ../blocks/address/address

      .page-footer-wrapper
        include ../blocks/footer/footer
    script(src="https://api-maps.yandex.ru/2.1/?apikey=2ac75161-4165-4271-8540-e821eb701ba3&lang=en_US", type="text/javascript")