include ../blocks/header/header
include ../components/main-nav/main-nav
include ../components/burger/burger
include ../components/blog-post/blog-post
include ../components/arrow-button/arrow-button
include ../components/slide/slide
include ../components/comments/comments
include ../components/title/title
include ../components/button/button
include ../components/breadcrumbs/breadcrumbs