extends  ./layout
include includes

append style
  include ../blocks/favicons/favicons

block title
  title Home

block content
  body
    .wrapper
      include ../blocks/header/header

    script(src="index.js")