extends  ./layout
include includes

append style
  include ../blocks/favicons/favicons

block title
  title Home

block content
  body
    .wrapper
      include ../blocks/header/header
      main.page-conent
        include ../blocks/blog/blog
        include ../blocks/latest-works/latest-works
        include ../blocks/advert/advert

    script(src="index.js")