extends  ./layout
include includes

append style
  include ../blocks/favicons/favicons

block title
  title Home

block content
  body
    .wrapper
      +page-header()
        include ../blocks/banner/banner
      main.page-conent
        include ../blocks/blog/blog
        include ../blocks/latest-works/latest-works
        include ../blocks/advert/advert
        include ../blocks/presentation/presentation
      include ../blocks/footer/footer

    script(src="index.js")