extends  ./layout
include includes

block style
  link(rel="stylesheet", href="portfolio.css")
  include ../blocks/favicons/favicons

block title
  title Portfolio

block content
  body
    .wrapper
      .page-header-wrapper
        +page-header('4')
      main.page-conent
        .wrapper__inner
          +title('Portfolio', 'brush')

          .breadcrumbs-wrapper
            +breadcrumbs('1')

          include ../blocks/portfolio-works/portfolio-works
          .pagination-wrapper
            +pagination('1')
      include ../blocks/footer/footer