.logo {
  font-size: pxToRem(50);
  font-family: Lato, Arial, sans-serif;
  line-height: pxToRem(20);
  color: #000;
  font-weight: 900;
  text-decoration: none;

  @include for-tablet-landscape-down() {
    line-height: normal;
  }

  &__sub {
    font-weight: 400;
    color: #2aacc8
  }
}