.blog {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: $gray--lighten;
  padding: {
    top: pxToRem(60);
    bottom: pxToRem(25);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: pxToPercent(1000, $desktop-width);
    margin: auto;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}