section.blog
  .blog__inner
    +blog-post()

    - var text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros.";

    +blog-post({
      title: "Responsive design",
      imgUrl: "../components/blog-post/img/icon-rect.svg",
      contentText: text
    })

    - var text = "Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus pretium sed id magna.";

    +blog-post({
      title: "Fully layerd psd",
      imgUrl: "../components/blog-post/img/icon-burger.svg",
      contentText: text
    })

    - var text = "Vivamus convallis feugiat mauris sed posuere. Nam rutrum, quam quis euismod commodo, elit est porta quam, non placerat eros neque porta ante. Fusce quis odio urna.";

    +blog-post({
      title: "Ready for coding",
      imgUrl: "../components/blog-post/img/icon-tm.svg",
      contentText: text
    })