section.latest-works
  nav.latest-works__nav
    h3.latest-works__title Latest works
    .latest-works__buttons
      .latest-works__button
        +arrow-button()
      +arrow-button("right")
  .latest-works__slider
    .latest-works__slider-inner
      +slide()
      +slide("../components/slide/img/slide2.png")
      +slide("../components/slide/img/slide3.png", true)
      +slide("../components/slide/img/slide4.png")

      +slide()
      +slide("../components/slide/img/slide4.png")
      +slide("../components/slide/img/slide2.png", true)
      +slide("../components/slide/img/slide3.png")

      +slide("../components/slide/img/slide3.png", true)
      +slide("../components/slide/img/slide2.png")
      +slide()
      +slide("../components/slide/img/slide4.png")

      +slide("../components/slide/img/slide3.png")
      +slide("../components/slide/img/slide2.png")
      +slide()
      +slide("../components/slide/img/slide4.png", true)

      +slide()
      +slide("../components/slide/img/slide2.png")
      +slide("../components/slide/img/slide3.png", true)
      +slide("../components/slide/img/slide4.png")