section.latest-works
  nav.latest-works__nav
    h3.latest-works__title Latest works
    .latest-works__buttons
      .latest-works__button
        +arrow-button()
      +arrow-button("right")
  .latest-works__slider
    .latest-works__slider-inner
      +slide()
      +slide({ url: "../components/slide/img/slide2.png" })
      +slide({ url: "../components/slide/img/slide3.png", preview: true })
      +slide({ url: "../components/slide/img/slide4.png" })

      +slide()
      +slide({ url: "../components/slide/img/slide4.png" })
      +slide({ url: "../components/slide/img/slide2.png", preview: true })
      +slide({ url: "../components/slide/img/slide3.png" })

      +slide({ url: "../components/slide/img/slide3.png", preview: true })
      +slide({ url: "../components/slide/img/slide2.png" })
      +slide()
      +slide({ url: "../components/slide/img/slide4.png" })

      +slide({ url: "../components/slide/img/slide3.png" })
      +slide({ url: "../components/slide/img/slide2.png" })
      +slide()
      +slide({ url: "../components/slide/img/slide4.png", preview: true })

      +slide()
      +slide({ url: "../components/slide/img/slide2.png" })
      +slide({ url: "../components/slide/img/slide3.png", previe: true })
      +slide({ url: "../components/slide/img/slide4.png" })