mixin page-header(active = '1')
  header.page-header
    .page-header__top
      .page-header__logo
        include ../logo/logo
      +burger()
      .page-header__nav
        +main-nav(active)
    block
