.page-header {

  &-wrapper {
    margin-bottom: 45px;
  }

  &__top {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: $gray--lighten;
    box-sizing: border-box;

    @include for-tablet-landscape-down() {
      flex-wrap: wrap;
      padding: {
        top: pxToRem(20);
        bottom: pxToRem(20);
      }
    }

    padding: {
      top: pxToRem(50);
      bottom: pxToRem(41);
    }
  }

  &__logo {
    margin-left: pxToPercent(196, $desktop-width);

    @include for-laptop-down() {
      margin-left: 1%;
    }

    @include for-tablet-landscape-down() {
      margin-left: 5%;
    }
  }

  &__nav {
    width: pxToPercent(659, $desktop-width);
    margin-left: pxToPercent(200, $desktop-width);

    @include for-desktop-down() {
      width: 60%;
      margin-left: 12%;
    }

    @include for-laptop-down() {
      width: 80%;
      margin-left: 1%;
    }

    @include for-tablet-landscape-down() {
      width: 100%;
      margin-left: 0;
    }
  }
}