.page-header {

  .page-header__top {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: $gray--lighten;
    box-sizing: border-box;
    padding: {
      top: pxToRem(50);
      bottom: pxToRem(43);
    }
  }

  .page-header__logo {
    margin-left: pxToPercent(196, 1400);
  }
}