.text-field {

  span {
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Arial MT', Arial, sans-serif;

    @include for-phone-only() {
      font-size: 1.25rem;
    }
  }

  input {
    width: pxToPercent(480, 565);
    height: pxToRem(38);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Arial MT', Arial, sans-serif;
    border: 1px solid $gray--dark;

    @include for-phone-only() {
      font-size: 1.25rem;
    }
  }
}
