.clients
  +title("Our clients", "clients")
  .clients__brand-block
    .clients__brand
      a.clients__link(href="https://www.cox.com/ibill/home.cox", target="_blank")
        img.clients__img.clients__img_brand_cox(src="../blocks/clients/img/cox.jpg", alt="https://www.cox.com/ibill/home.cox")
    .clients__brand
      a.clients__link(href="https://www.cnn.com", target="_blank")
        img.clients__img.clients__img_brand_cnn(src="../blocks/clients/img/cnn.jpg", alt="cnn.com")
    .clients__brand
      a.clients__link(href="https://www.apartmentfinder.com", target="_blank")
        img.clients__img.clients__img_brand_apartment(src="../blocks/clients/img/apartment.jpg", alt="apartmentfinder.com")
    .clients__brand
      a.clients__link(href="https://www.deere.ru", target="_blank")
        img.clients__img.clients__img_brand_john(src="../blocks/clients/img/john.jpg", alt="deere.ru")
    .clients__brand
      a.clients__link(href="http://bananaboat.com", target="_blank")
        img.clients__img.clients__img_brand_banana(src="../blocks/clients/img/banana.jpg", alt="bananaboat.com")
    .clients__brand
      a.clients__link(href="https://fujifilm.com", target="_blank")
        img.clients__img.clients__img_brand_fuji(src="../blocks/clients/img/fuji.jpg", alt="fujifilm.com")